$widthDiscussionForums: 40em;

.discussion-forums {
  &__content {
    width: min-content;
    margin-left: auto;
    margin-right: auto;

    .section {
      width: $widthDiscussionForums;
    }

    .forum-profile-info {
      line-height: 30px;
      font-size: 14px;
      vertical-align: middle;
      &__header {
        text-align: right;
        float: left;
        color: #606266;
        box-sizing: border-box;
        font-weight: 700;
      }
    }
  }
}